
.heading{
    text-align: center;
    padding-bottom: 2rem;
    text-shadow: var(--text-shadow);
    text-transform: uppercase;
    color: var(--black);
    font-size: 5rem;
    letter-spacing: .4rem;
}
.heading span{
    text-transform: uppercase;
    color: var(--green);
}

.services .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
    gap:1rem;
}


.services .box-container .box{
    background: #fff;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    padding: 2.5rem;
    border: var(--border);
}

.services .box-container .box .icon-btn{
    color: var(--green);
    font-size: 5rem;
    padding-bottom: .5rem;
}

.services .box-container .box h3{
    color: var(--black);
    font-size: 1.5rem;
    padding: 1rem 0;
}

.services .box-container .box p{
    color: var(--light-color);
    font-size: 1.4rem;
    line-height: 2;
}