.login-form{
    
    border: var(--border);
    /* border-radius: .5rem; */
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
    border-color: aqua;
    /* background-color: azure; */
    background-image: url('../../image/login.jpg');
    box-sizing: border-box;
    padding: 20px;
}
.login-form h2{
    text-align: center;
    color:var(--green);
    padding-bottom: .4rem;
    font-size: 4rem;
}
.login-form .form-all form .box{
    width: 30%;
    margin: .5rem 2rem;
    border-radius: .5rem;
    border: var(--border);
    font-size: 1rem;
    color: var(--black);
    text-transform: none;
    padding: 1rem;
    text-align: center;
    margin-left: 27rem;
    
}

.login-form .form-all form .btn{
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: 35rem;
}


.login-form .new-user{
    font-size: 2rem;
    margin-left: 18rem;
    padding-top: 2rem;
}

.login-form .new-user p{
    margin-left: 4rem;
    color: beige;
}


.signin-btn{
    background-color: goldenrod;
    width: 200px;
    height: 35px;
    border: 1px solid grey;
    border-radius: .5rem;
    cursor: pointer;
    margin-left: 14rem;
    font-size: 1rem;
}